
/* As RGBa codes */

@vinaccia-0: rgba(132,  7, 60,1); /* Main Primary color */
@vinaccia-1: rgba(183, 57,110,1);
@vinaccia-2: rgba(159, 26, 82,1);
@vinaccia-3: rgba(101,  0, 43,1);
@vinaccia-4: rgba( 65,  0, 27,1);

@blue-1-0: rgba(  9, 73, 97,1); /* Main Secondary color (1) */
@blue-1-1: rgba( 46,110,135,1);
@blue-1-2: rgba( 23, 91,117,1);
@blue-1-3: rgba(  2, 55, 75,1);
@blue-1-4: rgba(  1, 35, 48,1);

@sand-2-0: rgba(155,136,  8,1); /* Main Secondary color (2) */
@sand-2-1: rgba(215,196, 67,1);
@sand-2-2: rgba(186,166, 30,1);
@sand-2-3: rgba(119,103,  0,1);
@sand-2-4: rgba( 76, 66,  0,1);

@dark-blue-0: rgba(  0,  4, 60,1); /* Main Primary color */
@dark-blue-1: rgba(  0, 10,124,1);
@dark-blue-2: rgba(  0,  7, 93,1);
@dark-blue-3: rgba(  0,  1, 17,1);
@dark-blue-4: rgba(  0,  0,  0,1);

@dark-green-1-0: rgba(  0, 59, 36,1); /* Main Secondary color (1) */
@dark-green-1-1: rgba(  0,121, 75,1);
@dark-green-1-2: rgba(  0, 91, 57,1);
@dark-green-1-3: rgba(  0, 16, 10,1);

@dark-purple-2-0: rgba( 45,  0, 57,1); /* Main Secondary color (2) */
@dark-purple-2-1: rgba( 93,  0,119,1);
@dark-purple-2-2: rgba( 70,  0, 89,1);
@dark-purple-2-3: rgba( 12,  0, 16,1);


@import url(https://fonts.googleapis.com/css?family=Kanit:600);

html { height: 100%; display: flex; }
body { height: 100%; margin: auto; }
html, body {
  background: @dark-blue-0;
  color: #FFF;
  font: normal 600 2vw Kanit, sans-serif;
}

.scroll.splitting .char {
  animation: slide-in .8s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(90ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: rotateY(.25turn) scale(0.5);
    opacity: 0;
  }
}

@keyframes name-loop {
  0%, 100% {
    opacity: 1;
  }
  50% {
    transform: rotateY(.5turn);
    opacity: 0;
  }
}

@keyframes developer-loop {
  0%, 100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  25% {
    transform: translateY(.5em) scale(1.2);
  }
  75% {
    transform: translateY(-.5em) scale(.2);
    opacity: .2;
  }
}

.name {
  font-size: 10vw/1.5;
  text-align: center;
  margin-top: 50px;

  &.splitting:hover .char {
    animation: name-loop .8s cubic-bezier(.5, 0, .5, 1) both infinite;
    animation-delay: calc(90ms * var(--char-index));
  }
}

.scroll, .final {
  text-align: center;
}

.scroll {
  font-size: 5vw/1.5;
}

.fullpage {
  display: flex;
  height: 100%;

  &.center {
    align-items: center;
  }

  &.bottom {
    align-items: flex-end;
  }

  &.left {
    justify-content: flex-start;
  }
}

.face {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 1vw;

  .inner, .outer {
    bottom: 0;
    height: 20vw;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transition: .3s;
    width: 20vw;
  }

  .inner {
    opacity: 0;
    pointer-events: none;
  }

  .outer:hover {
    & ~ .inner {
      opacity: 1;
    }
  }
}

.menu {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;

  .menu-item {
    font-size: 7vw/1.5;

    &.splitting .char {
      transition: .3s;

      &:first-of-type {
        font-size: 1.4em;
        color: @sand-2-0;
      }
    }

    &.splitting:hover .char {
      color: @vinaccia-0;
      transform: translateY(-.4em) scale(1.2);
      transition-delay: calc(40ms * var(--char-index));

      &:first-of-type {
        font-size: 1em;
      }
    }
  }
}

.main-container {
  height: 100%;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.what {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3em;

  div.splitting {
    transition: .3s;

    &:first-of-type:hover {
      color: pink;
    }

    &:nth-of-type(2):hover {
      text-shadow: 2px -2px @sand-2-0, 4px -4px @sand-2-1, 6px -6px @sand-2-2, 8px -8px @sand-2-3, 10px -10px @sand-2-4;
    }

    &:nth-of-type(3):hover .char {
      animation: developer-loop 1s cubic-bezier(.5, 0, .5, 1) both infinite;
      animation-delay: calc(100ms * var(--char-index));
    }
  }
}
